/* default style */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(105deg, blue, yellow);
    padding: 10px;

}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: darkkhaki;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.resize-image{
    width: 30px;
    height: 30px;
}

.todo-app h2{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    justify-content: space-between;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: skyblue;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border-radius: 100px;
    background-color: aliceblue;
    color: black;
    padding: 20px 30px;
    text-align: center;
    cursor: pointer;
    
}
button:hover{
    background-color: aqua;

}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}